header{
	text-align: center;
	color: white;
	min-height: 600px;
	padding: 5%;
	font-family: Arial, sans-serif;
}
*{
	margin: 0;
	padding: 0;
}
header h1{
	font-size: 2.5em;
	margin-bottom: 1%;
} 
.page{
	display: flex;
	flex-direction: row;

}
.parallax{
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.page, nav, footer{
margin: 0 5%;
}